#main{
	background-color:#F7D358;
}
body{
	background-color: #FE9A2E;
	padding:0px;
	width:100%;
	height:100%;
}
header{
	background-color: black;
	margin-bottom:0px;
	margin-top:-32px;
	margin-right:0px;
	margin-left:0px;
	padding-right:75px;
	height:auto;
	width:100%;
	position:fixed;
	z-index:999;
}